body {
    position: relative;
}
#section8{padding-top:50px;height:1200px;}
#section1 {padding-top:50px;height:700px; background-color: #232220;}
#section2 {padding-top:50px;height:500px; background-color: white;}
#section3 {padding-top:50px;height:400px; background-color: #e7ecef;}
#section4 {padding-top:50px;height:500px; background-color: #75DDDD;}
#section5 {padding-top:50px;height:1000px; background-color: #848FA5;}
#section6 {padding-top:50px;height:400px;color: #000000; background-color: #e7ecef;}
#section7 {padding-top:50px;height:700px; background-color: #AFAFDC;}


.main{
position:absolute;
top: 8%;
left: 50%;
transform: translate(-50%,50%);
color: white;
font-family: "Monaco";
border-top-style: solid;
border-bottom-style: solid;
  border-color: white;
  font-size: 60pt;

}

.btn1{
  background-color: #d4aa7d;
  border-color: #232220;

}
.btn2{
  background-color: #232220;
  border-color: #d4aa7d;
}
.about {
color: #D3D3D3;
font-family: 'Andada';
}

.change{
  font-family: 'Andada';
  color:white;
  font-size: 10;

}
.aboutimg{
display: block;
  margin: auto;
  width: 30%;
  padding-left: 4%;
  height: 400px
}
.aboutbody{
 color:#D3D3D3;
font-family: 'Andada';
text-align: left;
padding-left:4%;
padding-right: -15%;
line-height: 1.1;
font-size: 6;

}

.water{
  height: 10px;
  color:black;
  font-family: "Monaco";


}
.education{
  color:black;
  font-family: "Monaco";

}
.computer{
  color:black;
  font-family: 'Andada';

}
.progress
{
  margin: 20px;
  width:80%;
transform: translate(10%,50%);

}
.work{
  color: black;
font-family: "Monaco";
 margin: 20px;

}
.work2{
color: black;
font-family: "Monaco";
 margin: 30px;

}
.organ{
   color: black;
font-family: "Monaco";

}
.project{
  color: black;
font-family: "Monaco";

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}
